<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>About</title>
	<script src="../js/jquery-1.11.3.min.js"></script>
	<script src="../js/library.js"></script>
	<script>insertLib();</script>
</head>
<body ng-app="app">
<div class="global" ng-controller="controller">
	<!-- #header -->
	<script>header();</script>
	<!-- #header:E -->

	<!-- #content -->
	<div id="content">
		<div class="breakcum">
			<ul class="offsetBoth">
				<li><a href="#"><img src="../images/ico-home.png" alt=""></a></li>
				<li class="pageName"><p>About</p></li>
				<li class="curActive">
					<p class="curActivePage" onclick="$(this).next().slideToggle();">Nobland CEO 인사말</p>
					<dl ng-repeat="nav in navs | filter: {'navTitle':'About'}">
						<dd ng-repeat="dep1 in nav.navDep1s"><a href="#"  onclick="$('.curActivePage').text($(this).text()); $('.curActive dl').slideUp();">{{dep1.depTitle}}</a></dd>
					</dl>
				</li>
			</ul>
		</div>

		<div id="sectionNav">
			<ul></ul>
		</div>
		<div class="mainCnt">
			<div class="section about1Section">
				<div class="sectionTitle">
					<h3></h3>
				</div>
				<div class="sectionCnt offsetBoth"></div>
			</div>

			<div class="section about1Section">
				<div class="sectionTitle">
					<h3></h3>
				</div>
				<div class="sectionCnt offsetBoth"></div>
			</div>

			<div class="section about3Section">
				<div class="sectionTitle">
					<h3></h3>
				</div>
				<div class="sectionCnt offsetBoth"></div>
			</div>

			<div class="section about4">
				<div class="sectionTitle">
					<h3></h3>
				</div>
				<div class="sectionCnt offsetBoth"></div>
			</div>

			<div class="section">
				<div class="sectionTitle">
					<h3></h3>
				</div>
				<div class="sectionCnt"></div>
			</div>

			<div class="section">
				<div class="sectionTitle">
					<h3></h3>
				</div>
				<div class="sectionCnt"></div>
			</div>

			<div class="section">
				<div class="sectionTitle">
					<h3></h3>
				</div>
				<div class="sectionCnt"></div>
			</div>

		</div>
	</div>
	<!-- #content:E -->

	<!-- #footer -->
	<script>footer();</script>
	<!-- #footer:E -->
</div>
</body>
</html>