<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title></title>
	<link rel="stylesheet" href="../css/jquery-ui.css">
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/style.css">
	
	<script src="../js/jquery-1.11.3.min.js"></script>
	<script src="../js/jquery-ui.js"></script>
	<script src="../js/angular.js"></script>
	<script src="../js/angular-data.js"></script>
	<script src="../js/parallax/jquery.scrollify.js"></script>
	<script src="../js/parallax/main.js"></script>
	<script src="../js/header.js"></script>
	<script src="../js/footer.js"></script>
	<script src="../js/script.js"></script>
</head>
<body ng-app="app">
<div class="global" ng-controller="controller">
	<!-- #header -->
	<script>header();</script>
	<!-- #header:E -->

	<!-- #content -->
	<div id="content">
		<div class="breakcum">
			<ul class="offsetBoth">
				<li><a href="#"><img src="../images/ico-home.png" alt=""></a></li>
				<li class="pageName"><p>About</p></li>
				<li class="curActive">
					<p class="curActivePage" onclick="$(this).next().slideToggle();">Nobland CEO 인사말</p>
					<dl ng-repeat="nav in navs | filter: {'navTitle':'About'}">
						<dd ng-repeat="dep1 in nav.navDep1s"><a href="#"  onclick="$('.curActivePage').text($(this).text()); $('.curActive dl').slideUp();">{{dep1.depTitle}}</a></dd>
					</dl>
				</li>
			</ul>
		</div>
		
		<div class="sectionNav">
			<ul></ul>
		</div>
		<div class="mainCnt">
			<div id="" class="section">
				<div class="sectionTitle">
					<h3></h3>
				</div>
				<div class="sectionCnt"></div>
			</div>

			<div id="" class="section">
				<div class="sectionTitle">
					<h3></h3>
				</div>
				<div class="sectionCnt"></div>
			</div>

			<div id="" class="section">
				<div class="sectionTitle">
					<h3></h3>
				</div>
				<div class="sectionCnt"></div>
			</div>

			<div id="" class="section">
				<div class="sectionTitle">
					<h3></h3>
				</div>
				<div class="sectionCnt"></div>
			</div>

			<div id="" class="section">
				<div class="sectionTitle">
					<h3></h3>
				</div>
				<div class="sectionCnt"></div>
			</div>

			<div id="" class="section">
				<div class="sectionTitle">
					<h3></h3>
				</div>
				<div class="sectionCnt"></div>
			</div>

			<div id="" class="section">
				<div class="sectionTitle">
					<h3></h3>
				</div>
				<div class="sectionCnt"></div>
			</div>
		</div>


		<!-- <div class="panel home" data-section-name="home"></div>
		<div class="panel" data-section-name="second"></div>
		<div class="panel" data-section-name="third"></div> -->
	</div>
	<!-- #content:E -->

	<!-- #footer -->
	<script>footer();</script>
	<!-- #footer:E -->
</div>
</body>
</html>