<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>About</title>
	<script src="../js/jquery-1.11.3.min.js"></script>
	<script src="../js/library.js"></script>
	<script>insertLib();</script>
</head>
<body ng-app="app">
<div class="global" ng-controller="controller">
	<!-- #header -->
	<script>header();</script>
	<!-- #header:E -->

	<!-- #content -->
	<div id="content">
		<div class="breakcum">
			<ul class="offsetBoth">
				<li><a href="#"><img src="../images/ico-home.png" alt=""></a></li>
				<li class="pageName"><p>About</p></li>
				<li class="curActive">
					<p class="curActivePage" onclick="$(this).next().slideToggle();">Nobland CEO 인사말</p>
					<dl ng-repeat="nav in navs | filter: {'navTitle':'About'}">
						<dd ng-repeat="dep1 in nav.navDep1s"><a href="#"  onclick="$('.curActivePage').text($(this).text()); $('.curActive dl').slideUp();">{{dep1.depTitle}}</a></dd>
					</dl>
				</li>
			</ul>
		</div>

		<div id="sectionNav">
			<ul></ul>
		</div>
		<div class="mainCnt">
			<div class="section about1Section">
				<div class="sectionTitle">
					<h3>NOBLAND CEO 메시지</h3>
				</div>
				<div class="sectionCnt offsetBoth">
					<div class="profileImg">
						<img src="../images/ceo.png" alt="">
					</div>
					<div class="info">
						<div class="infoTitle">
							<span>김기홍 대표이사</span>NOBLAND CEO	
						</div>
						<div class="infoCnt">
							<p>노브랜드 홈페이지를 방문해 주셔서 갑사합니다.</p>
							<p>노브랜드는 1994년 뉴욕 디자이너 브랜드의 니트, 우븐 의류제품의 생산을 시작으로 창업하였습니다.
							매해 괄목할 만한 매출확장을 하며 현재는 서울 본사를 비롯하여 5개국 지사와 생산기지에 15,000명이 넘는
							직원이 일하고 있는 굴지의 글로벌 의류생산 기업으로 성장하였습니다.</p>
							<p>혁신과 발전을 기업 모토로 삼아 패션의 중심지 뉴욕에 디자인 센터를 두고 트렌드의 변화를 선도하고 각 바이
							어의 요구에 부합되는 디자인을 개발하여 고객에게 최대한의 만족을 제공하고 있습니다.</p>
							<p>의류업체로서는 선진적인 Full Service Vendor Model을 정립하여 독자적인 개발센터 운영 및 바이어의 특성
							에 맞는 전용 생산라인을 구축하여 가장 효율적이고 도전적인 기업으로 나아가고자 합니다.</p>
							<p>우리 노브랜드는 연구 개발에서의 비교우위와 시장의 변화에 한 발 빠르게 대응할 수 있는 유연성을 강점으로
							하여 현재에 이르렀습니다. 추후 생산기지의 다양화와 R&D 센터에 대한 보다 적극적인 투자, 한 차원 높은 품
							질의 제품을 생산하여 전 세계 최고의 섬유패션 기업으로 나아가겠습니다.</p>
							<p>감사합니다.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="section about1Section">
				<div class="sectionTitle">
					<h3>Noble Industry CEO 인사말</h3>
				</div>
				<div class="sectionCnt offsetBoth">
					<div class="profileImg">
						<img src="../images/ceo.png" alt="">
					</div>
					<div class="info">
						<div class="infoTitle">
							<span>김기홍 대표이사</span>NOBLAND CEO	
						</div>
						<div class="infoCnt">
							<p>노브랜드 홈페이지를 방문해 주셔서 갑사합니다.</p>
							<p>노브랜드는 1994년 뉴욕 디자이너 브랜드의 니트, 우븐 의류제품의 생산을 시작으로 창업하였습니다.
							매해 괄목할 만한 매출확장을 하며 현재는 서울 본사를 비롯하여 5개국 지사와 생산기지에 15,000명이 넘는
							직원이 일하고 있는 굴지의 글로벌 의류생산 기업으로 성장하였습니다.</p>
							<p>혁신과 발전을 기업 모토로 삼아 패션의 중심지 뉴욕에 디자인 센터를 두고 트렌드의 변화를 선도하고 각 바이
							어의 요구에 부합되는 디자인을 개발하여 고객에게 최대한의 만족을 제공하고 있습니다.</p>
							<p>의류업체로서는 선진적인 Full Service Vendor Model을 정립하여 독자적인 개발센터 운영 및 바이어의 특성
							에 맞는 전용 생산라인을 구축하여 가장 효율적이고 도전적인 기업으로 나아가고자 합니다.</p>
							<p>우리 노브랜드는 연구 개발에서의 비교우위와 시장의 변화에 한 발 빠르게 대응할 수 있는 유연성을 강점으로
							하여 현재에 이르렀습니다. 추후 생산기지의 다양화와 R&D 센터에 대한 보다 적극적인 투자, 한 차원 높은 품
							질의 제품을 생산하여 전 세계 최고의 섬유패션 기업으로 나아가겠습니다.</p>
							<p>감사합니다.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="section about3Section">
				<div class="sectionTitle">
					<h3>연혁</h3>
				</div>
				<div class="sectionCnt offsetBoth"></div>
			</div>

			<div class="section about4">
				<div class="sectionTitle">
					<h3>비전</h3>
				</div>
				<div class="sectionCnt offsetBoth"></div>
			</div>

			<div class="section">
				<div class="sectionTitle">
					<h3>조직도</h3>
				</div>
				<div class="sectionCnt"></div>
			</div>

			<div class="section">
				<div class="sectionTitle">
					<h3>해외법인</h3>
				</div>
				<div class="sectionCnt"></div>
			</div>

			<div class="section">
				<div class="sectionTitle">
					<h3>오시는길</h3>
				</div>
				<div class="sectionCnt"></div>
			</div>

		</div>
	</div>
	<!-- #content:E -->

	<!-- #footer -->
	<script>footer();</script>
	<!-- #footer:E -->
</div>
</body>
</html>